<h1>quiz</h1>
<h1>Add Quiz Question </h1>
<a href="/teacher/dashboard/">Back to Dashboard</a>

<br><br>

<form method="POST">
    {% csrf_token %}

    <select name="course" required>
        {% for course in courses %}
            <option value="{{ course.id }}">{{ course.title }}</option>
        {% endfor %}
    </select>

    <br><br>

    <textarea name="question" placeholder="Enter question" required></textarea>

    <br><br>

    <input type="text" name="option1" placeholder="Option 1" required><br><br>
    <input type="text" name="option2" placeholder="Option 2" required><br><br>
    <input type="text" name="option3" placeholder="Option 3" required><br><br>
    <input type="text" name="option4" placeholder="Option 4" required><br><br>

    <select name="correct_option" required>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
        <option value="option4">Option 4</option>
    </select>

    <br><br>

    <button type="submit">Add Question</button>
</form>